In [35]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix, mean_squared_error, r2_score

In [5]:
salary_df = pd.read_csv('Salary.csv')

## 1. 预测职业Model - 随机森林分类模型（Random Forest Classifier)

## 1.1 查看数据结构和预处理

In [6]:
# 查看数据基本信息
print(salary_df.info())

# 显示前几行数据
salary_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6684 entries, 0 to 6683
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  6684 non-null   float64
 1   Gender               6684 non-null   object
 2   Education Level      6684 non-null   int64
 3   Job Title            6684 non-null   object
 4   Years of Experience  6684 non-null   float64
 5   Salary               6684 non-null   float64
 6   Country              6684 non-null   object
 7   Race                 6684 non-null   object
 8   Senior               6684 non-null   int64
dtypes: float64(3), int64(2), object(4)
memory usage: 470.1+ KB
None

,Age,Gender,Education Level,Job Title,Years of Experience,Salary,Country,Race,Senior
0,32.0,Male,1,Software Engineer,5.0,90000.0,UK,White,0
1,28.0,Female,2,Data Analyst,3.0,65000.0,USA,Hispanic,0
2,45.0,Male,3,Manager,15.0,150000.0,Canada,White,1
3,36.0,Female,1,Sales Associate,7.0,60000.0,USA,Hispanic,0
4,52.0,Male,2,Director,20.0,200000.0,USA,Asian,0

### 选取特征和目标变量：

In [7]:
X = salary_df[['Gender', 'Race', 'Education Level']]
y = salary_df['Job Title']

### 编码类别变量（使用 One-Hot Encoding）

In [8]:
# 使用 ColumnTransformer 对类别列做 One-Hot 编码
preprocessor = ColumnTransformer(
    transformers=[
        ('cat', OneHotEncoder(handle_unknown='ignore'), ['Gender', 'Race', 'Education Level'])
    ])

# 构建完整 pipeline：预处理 + 分类器
model = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('classifier', RandomForestClassifier(random_state=42))
])

##  1.2 划分训练集与测试集

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

## 1.3 训练模型

In [10]:
model.fit(X_train, y_train)

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('cat',
                                                  OneHotEncoder(handle_unknown='ignore'),
                                                  ['Gender', 'Race',
                                                   'Education Level'])])),
                ('classifier', RandomForestClassifier(random_state=42))])

## 1.4 模型评估

In [26]:
# 预测
y_pred = model.predict(X_test)

# 准确率
accuracy = accuracy_score(y_test, y_pred)
print(f"Model Accuracy: {accuracy:.2f}")

# 分类报告
print(classification_report(y_test, y_pred))

# 混淆矩阵
conf_matrix = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:\n", conf_matrix)

Model Accuracy: 0.19
                                 precision    recall  f1-score   support

                     Accountant       0.00      0.00      0.00         1
       Administrative Assistant       0.00      0.00      0.00         1
             Back end Developer       0.00      0.00      0.00        56
               Business Analyst       0.00      0.00      0.00         2
 Business Development Associate       0.00      0.00      0.00         2
   Business Development Manager       0.00      0.00      0.00         2
  Business Intelligence Analyst       0.00      0.00      0.00         1
    Business Operations Analyst       0.00      0.00      0.00         1
      Content Marketing Manager       0.00      0.00      0.00        12
                     Copywriter       0.00      0.00      0.00         1
       Customer Service Manager       0.00      0.00      0.00         1
           Customer Service Rep       0.00      0.00      0.00         1
Customer Service Representative       0.00      0.00      0.00         1
                   Data Analyst       0.06      0.01      0.02        74
                 Data Scientist       0.28      0.64      0.39        99
                       Designer       0.00      0.00      0.00         1
      Digital Marketing Manager       0.00      0.00      0.00        11
   Digital Marketing Specialist       0.00      0.00      0.00         1
       Director of Data Science       0.00      0.00      0.00         7
        Director of Engineering       0.00      0.00      0.00         1
                 Director of HR       0.00      0.00      0.00        16
      Director of Human Capital       0.00      0.00      0.00         1
    Director of Human Resources       0.00      0.00      0.00         1
          Director of Marketing       0.00      0.00      0.00        14
         Director of Operations       0.00      0.00      0.00         4
              Director of Sales       0.00      0.00      0.00         1
                       Engineer       0.00      0.00      0.00         1
              Financial Advisor       0.00      0.00      0.00         1
              Financial Analyst       0.00      0.00      0.00         6
              Financial Manager       0.14      0.07      0.10        28
            Front End Developer       0.00      0.00      0.00         7
            Front end Developer       0.00      0.00      0.00        52
            Full Stack Engineer       0.23      0.10      0.14        67
               Graphic Designer       0.00      0.00      0.00         7
                 HR Coordinator       0.00      0.00      0.00         7
                  HR Generalist       0.00      0.00      0.00        13
                     HR Manager       0.00      0.00      0.00         2
                  HR Specialist       0.00      0.00      0.00         1
    Human Resources Coordinator       0.00      0.00      0.00        11
        Human Resources Manager       0.08      0.03      0.04        32
          Juniour HR Generalist       0.00      0.00      0.00         1
              Marketing Analyst       0.00      0.00      0.00        30
          Marketing Coordinator       0.04      0.03      0.03        37
             Marketing Director       0.00      0.00      0.00        15
              Marketing Manager       0.12      0.31      0.18        64
           Marketing Specialist       0.00      0.00      0.00         3
             Operations Analyst       0.00      0.00      0.00         1
         Operations Coordinator       0.00      0.00      0.00         2
            Operations Director       0.00      0.00      0.00         1
             Operations Manager       0.00      0.00      0.00        25
               Product Designer       0.00      0.00      0.00         8
    Product Development Manager       0.00      0.00      0.00         1
                Product Manager       0.06      0.02      0.03        56
      Product Marketing Manager       0.00      0.00      0.00        16
            Project Coordinator       0.00      0.00      0.00         2
               Project Engineer       0.00      0.00      0.00        56
                Project Manager       0.00      0.00      0.00         8
                   Receptionist       0.00      0.00      0.00        11
                      Recruiter       0.00      0.00      0.00         1
              Research Director       0.00      0.00      0.00        12
             Research Scientist       0.25      0.06      0.10        32
                     Researcher       0.00      0.00      0.00         1
                Sales Associate       0.45      0.84      0.58        45
                 Sales Director       0.00      0.00      0.00        16
                Sales Executive       0.00      0.00      0.00         7
                  Sales Manager       0.00      0.00      0.00         9
           Sales Representative       0.00      0.00      0.00        15
                      Scientist       0.00      0.00      0.00         1
           Social Media Manager       0.00      0.00      0.00         2
             Software Architect       0.00      0.00      0.00         1
             Software Developer       0.00      0.00      0.00        42
              Software Engineer       0.17      0.72      0.27       158
      Software Engineer Manager       0.22      0.14      0.17        72
               Software Manager       0.00      0.00      0.00         1
            Strategy Consultant       0.00      0.00      0.00         1
            Technical Recruiter       0.00      0.00      0.00         1
            Training Specialist       0.00      0.00      0.00         1
                    UX Designer       0.00      0.00      0.00         1
                  Web Developer       0.00      0.00      0.00        33

                       accuracy                           0.19      1337
                      macro avg       0.03      0.04      0.03      1337
                   weighted avg       0.10      0.19      0.11      1337

Confusion Matrix:
 [[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

/Users/zhangcao/Desktop/ML/学生职业规划数据分析/学生职业规划数据分析_venv/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/zhangcao/Desktop/ML/学生职业规划数据分析/学生职业规划数据分析_venv/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/zhangcao/Desktop/ML/学生职业规划数据分析/学生职业规划数据分析_venv/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

## 1.5 使用模型预测新学生数据

In [27]:
# 新学生数据
new_student = pd.DataFrame({
    'Gender': ['Female'],
    'Race': ['White'],
    'Education Level': ["Master's"]
})

# 预测职业
predicted_job_title = model.predict(new_student)
print(f"Predicted Job Title: {predicted_job_title[0]}")

Predicted Job Title: Software Engineer

## 2. 预测薪酬 Model - 随机森林回归模型（Random Forest Regressor

### 2.1 查看数据结构和预处理

In [28]:
# 查看数据基本信息
print(salary_df.info())

# 显示前几行数据
salary_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6684 entries, 0 to 6683
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  6684 non-null   float64
 1   Gender               6684 non-null   object
 2   Education Level      6684 non-null   int64
 3   Job Title            6684 non-null   object
 4   Years of Experience  6684 non-null   float64
 5   Salary               6684 non-null   float64
 6   Country              6684 non-null   object
 7   Race                 6684 non-null   object
 8   Senior               6684 non-null   int64
dtypes: float64(3), int64(2), object(4)
memory usage: 470.1+ KB
None

,Age,Gender,Education Level,Job Title,Years of Experience,Salary,Country,Race,Senior
0,32.0,Male,1,Software Engineer,5.0,90000.0,UK,White,0
1,28.0,Female,2,Data Analyst,3.0,65000.0,USA,Hispanic,0
2,45.0,Male,3,Manager,15.0,150000.0,Canada,White,1
3,36.0,Female,1,Sales Associate,7.0,60000.0,USA,Hispanic,0
4,52.0,Male,2,Director,20.0,200000.0,USA,Asian,0

### 选取特征和目标变量：

In [29]:
# 特征列
X = salary_df[['Age', 'Education Level', 'Job Title', 'Years of Experience']]
# 目标变量
y = salary_df['Salary']

### 2.2 预处理：编码分类变量 + 数值标准化

In [30]:
# 分类变量列（Education Level, Job Title）
categorical_features = ['Education Level', 'Job Title']

# 数值变量列（Age, Years of Experience）
numeric_features = ['Age', 'Years of Experience']

# 构建预处理器
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), numeric_features),
        ('cat', OneHotEncoder(handle_unknown='ignore'), categorical_features)
    ])

### 2.3 构建模型流水线（Pipeline）

In [31]:
# 构建完整 pipeline：预处理 + 模型
model = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('regressor', RandomForestRegressor(random_state=42))
])

### 2.4 划分训练集和测试集

In [32]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

### 2.5 训练模型

In [36]:
model.fit(X_train, y_train)

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num', StandardScaler(),
                                                  ['Age',
                                                   'Years of Experience']),
                                                 ('cat',
                                                  OneHotEncoder(handle_unknown='ignore'),
                                                  ['Education Level',
                                                   'Job Title'])])),
                ('regressor', RandomForestRegressor(random_state=42))])

### 2.6 评估模型表现

In [37]:
# 预测
y_pred = model.predict(X_test)

# 评估指标
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse:.2f}")
print(f"Root Mean Squared Error: {rmse:.2f}")
print(f"R² Score: {r2:.2f}")

Mean Squared Error: 84329476.44
Root Mean Squared Error: 9183.11
R² Score: 0.97

### 2.7 用模型预测新学生数据的 Salary

In [38]:
new_student = pd.DataFrame({
    'Age': [24],
    'Education Level': ["Master's"],
    'Job Title': ["Data Scientist"],
    'Years of Experience': [1]
})

predicted_salary = model.predict(new_student)
print(f"Predicted Salary: ${predicted_salary[0]:,.2f}")

Predicted Salary: $72,290.00